[DATASET]
name = dicebox
image_width = 100
image_height = 100
categories = 19

[TAXONOMY]
neurons: [1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]
layers: [1, 2, 3, 5, 8, 13, 21]
activation: ["softmax", "elu", "softplus", "softsign", "relu", "tanh", "sigmoid", "hard_sigmoid", "linear"]
optimizer: ["rmsprop", "adam", "sgd", "adagrad", "adadelta", "adamax", "nadam"]

[LONESTAR]
neurons = 987
layers = 5
activation = elu
optimizer = adamax

[EVOLUTION]
epochs = 10000
generations = 100
population = 50

[TRAINING]
batch_size = 15000
train_batch_size = 223000
test_batch_size = 15000
load_best_weights_on_start = False

[DIRECTORY]
dataset_base_directory = datasets
logs_dir = ./logs
weights_dir = ./weights
tmp_dir = /tmp

[SERVER]
api_access_key = 6e249b5f-b483-4e0d-b50b-81d95e3d9a59
api_version = 0.3.0
listening_host = 0.0.0.0
flask_debug = False
model_weights_filename = weights.best.hdf5

[SENSORY_SERVICE]
sensory_server = localhost
sensory_port = 443
sensory_uri = https://
rabbitmq_exchange = sensory.exchange
rabbitmq_batch_request_routing_key = task_queue
rabbitmq_batch_request_task_queue = sensory.batch.request.task.queue
rabbitmq_uri = amqps://
rabbitmq_username = sensory_service
rabbitmq_password = sensory_service!123
rabbitmq_server = localhost
rabbitmq_port = 5671
rabbitmq_vhost = sensory
shard_size = 5000

[TRAINING_SERVICE]
rabbitmq_exchange = training.exchange
rabbitmq_batch_request_routing_key = task_queue
rabbitmq_train_request_task_queue = train.request.task.queue
rabbitmq_vhost = training
rabbitmq_uri = amqps://
rabbitmq_username = training_service
rabbitmq_password = training_service!123
rabbitmq_server = localhost
rabbitmq_port = 5671

[TRAINING_PROCESSOR_SERVICE]
rabbitmq_exchange = training.exchange
rabbitmq_batch_request_routing_key = task_queue
rabbitmq_train_request_task_queue = train.request.task.queue
rabbitmq_vhost = training
rabbitmq_uri = amqps://
rabbitmq_password = trainning_processor_service!123
rabbitmq_server = localhost
rabbitmq_username = training_processor_service
rabbitmq_port = 5671

[GLOBAL]
noise = 0.5

[CLIENT]
classification_server = localhost
classification_port = 5000
classification_uri = http://



